<% if user_signed_in? %>
  <li>  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
<% else %>
  <li><%= link_to('Login', new_user_session_path) %></li>
<% end %>
<li class="user-name">User:
<% if current_user %>
  <%= current_user.email %>,
    your ID: <span class="user-id"> <%= current_user.id %> </span></li>
<% else %>
  (not logged in)</li>
<% end %>
<%= render "menu/new_messages_information" %>
<li class="renew-link"><%= button_to "Count new messages", count_unread_messages_user_path(current_user), method: :get, remote: true if current_user%></li>
