<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Admin:</strong>
  <% if @user.admin? %>
    Yes
  <% else %>
    No
  <% end %>
</p>
<p>
<div class= <%= @user == current_user ? "hidden" : "conversation" %> >
<strong>Your conversation with <%= @user.name %></strong>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
  <% @messages.each do |message| %>
  <tr>
    <td>
      <%= link_to message.title, user_message_path(@user, message) %>
    </td>
    <td>
      <%= message.author.name %>
    </td>
    <td>
      <%= message.created_at %>
    </td>
    <td>
      <%= truncate(message.body, length: 60) %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
  <strong>Send a message</strong>

  <%= form_for [@user, @message] do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.text_field :title, placeholder: :title %> </br>
  </p>
  <p>
    <%= f.text_area :body, cols: 70, placeholder: :body_of_message %></br>
  </p>
    <%= f.hidden_field :recipient_id, value: @user.id %></br>

    <%= f.submit 'Send message' %>
  <% end %>
</p>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
